@font-face {
  font-family: myFirstFont;
  src: url(/public/font/Proxima\ Nova\ Font.otf);
}
body {
  margin: 0;
  font-family: myFirstFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}


html{
  
  height: 100%;
}


.app{
  height: 100%;
}
